{#
/**
 * @file
 * Default theme implementation for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'gm-layout-wrapper',
    'layout',
    'layout--design-section-delta',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.header %}
      <div {{ region_attributes.header.addClass('layout__region', 'layout__region--header') }}>
        {{ content.header }}
      </div>
    {% endif %}

    {% if content.sidebar_one %}
      <div {{ region_attributes.sidebar_one.addClass('layout__region', 'layout__region--sidebar-1') }}>
        {{ content.sidebar_one }}
      </div>
    {% endif %}

    {% if content.sidebar_two %}
      <div {{ region_attributes.sidebar_two.addClass('layout__region', 'layout__region--sidebar-2') }}>
        {{ content.sidebar_two }}
      </div>
    {% endif %}

    {% if content.sidebar_three %}
      <div {{ region_attributes.sidebar_three.addClass('layout__region', 'layout__region--sidebar-3') }}>
        {{ content.sidebar_three }}
      </div>
    {% endif %}

    {% if content.footer %}
      <div {{ region_attributes.footer.addClass('layout__region', 'layout__region--footer') }}>
        {{ content.footer }}
      </div>
    {% endif %}

  </div>
{% endif %}
